.btn a {
    width: 1000px;
    height: 100px;
    color: rgb(255, 11, 11);
    border-radius: 30px;
    font-weight: 400;
    letter-spacing: normal;
    text-decoration: none;
    transition: 0.5s;
    overflow: hidden;
    backdrop-filter: blur(10px);
}
